@{
    ViewData["Title"] = "Home Page";
    // User alex = new User() { Name = "Alex", Age = 19 };
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* @await Component.InvokeAsync("Timer", new { includeSeconds = true }); *@

@* <vc:timer include-seconds="true"></vc:timer> *@

@* @await Component.InvokeAsync("User", new { user = alex }); *@
@* <vc:user user="alex"></vc:user> *@

@* <vc:user-list></vc:user-list> *@

@* <vc:header></vc:header> *@

@* @await Component.InvokeAsync("UserList"); *@

@* <vc:social-links></vc:social-links> *@

@* <vc:top-users></vc:top-users> *@

<vc:gallery></vc:gallery>